root = true

[*]
indent_style = sapce
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = false
translate_tabs_to_spaces = true

[*.wxss]
trim_trailing_whitespace = false
indent_size = 4
