registry=https://registry.npm.taobao.org/
chromedriver_cdnurl = "http://npm.taobao.org/mirrors/chromedriver"
disturl = "http://npm.taobao.org/dist"
electron_mirror = "http://npm.taobao.org/mirrors/electron/"
git4win_mirror = "http://npm.taobao.org/mirrors/git-for-windows"
iojs_org_mirror = "http://npm.taobao.org/mirrors/iojs"
nodejs_org_mirror = "http://npm.taobao.org/mirrors/node"
nodist_iojs_mirror = "http://npm.taobao.org/mirrors/iojs"
nodist_node_mirror = "http://npm.taobao.org/mirrors/node"
nvm_iojs_org_mirror = "http://npm.taobao.org/mirrors/iojs"
nvm_nodejs_org_mirror = "http://npm.taobao.org/mirrors/node"
nvmw_iojs_org_mirror = "http://npm.taobao.org/mirrors/iojs"
nvmw_nodejs_org_mirror = "http://npm.taobao.org/mirrors/node"
nvmw_npm_mirror = "http://npm.taobao.org/mirrors/npm"
operadriver_cdnurl = "http://npm.taobao.org/mirrors/operadriver"
phantomjs_cdnurl = "http://npm.taobao.org/mirrors/phantomjs"
python_mirror = "http://npm.taobao.org/mirrors/python"
sass_binary_site = "http://npm.taobao.org/mirrors/node-sass"
sqlite3_binary_site = "http://npm.taobao.org/mirrors/sqlite3"
